@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/*body html*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
    font-family:'oswald';
    font-size:1.3vw;
}



#menu-h ul{
    list-style: nome;
    padding: 0;
    background-color: #2DCF00;
}



#menu-h ul li{
    display: inline;
}



#menu-h ul li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition:  background .4s;
}



#menu-h ul li a:hover {
    background-color: rgb(23, 107, 55);

}

/*Caixa de texto para cabeçalho*/
.inputPesquisa{

	padding-left:20px;     /* Largura da imagem possui 20px */
	padding-top:5px;       /* Só pra centralizar o texto verticalmente já que a altura da imagem é de 25px */

	height:40px;                                               /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
	background-repeat:no-repeat;                     /* Para não repetir o background ao longo de topo o componente */
}

#menu-hi ul{
    list-style: nome;
    padding: 0;
    background-color: rgb(255, 255, 255);
}



#menu-hi ul li{
    display: inline;
}



#menu-hi ul li a{
    margin-left: 40px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition:  background .4s;
}



/*#menu-hi ul li a:hover {
    background-color: rgb(39, 143, 65);
}*/



#menu-nav ul{
    list-style: nome;
    padding: 0;
    background-color: rgb(255, 255, 255);
}



#menu-nav ul li{
    display: inline;
}



#menu-nav ul li a{
    color: rgb(0, 0, 0);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition:  background .4s;
}



#menu-nav ul li a:hover {
    background-color: rgb(72, 177, 112);



}



input {
    margin-left: 50px;
    margin-right: 20px;
    width: 750px;
    height: 40px;
    border-radius: 20px;
    
}
/*Botões do menu*/
.perfil{
    position: relative;
    width: 10vw;
    height: 6vh;
    left: 0vw;
    top: 0vh;
    cursor: pointer;
    background: #2DCF00;
    box-shadow: 0px 4px 4px #000000;
    border: 0.12vh solid #000000;
    border-radius: 1vh;
    font-size:2vw;
}
.quem_somos{
    position: relative;
    width: 15vw;
    height: 6vh;
    left: 0vw;
    top: 0vh;
    cursor: pointer;
    background: #2DCF00;
    box-shadow: 0px 4px 4px #000000;
    border: 0.12vh solid #000000;
    border-radius: 1vh;
    font-size:2vw;
}
.arenas{
    position: relative;
    width: 7vw;
    height: 6vh;
    left: 0vw;
    top: 0vh;
    cursor: pointer;
    background: #2DCF00;
    box-shadow: 0px 4px 4px #000000;
    border: 0.12vh solid #000000;
    border-radius: 1vh;
    font-size:2vw;
}
.localizacao{
    position: relative;
    width: 13vw;
    height: 6vh;
    left: 0vw;
    top: 0vh;
    cursor: pointer;
    background: #2DCF00;
    box-shadow: 0px 4px 4px #000000;
    border: 0.12vh solid #000000;
    border-radius: 1vh;
    font-size:2vw;
}
.configuracao{
    position: relative;
    width: 13vw;
    height: 6vh;
    left: 0vw;
    top: 0vh;
    cursor: pointer;
    background: #2DCF00;
    box-shadow: 0px 4px 4px #000000;
    border: 0.12vh solid #000000;
    border-radius: 1vh;
    font-size:2vw;
}