@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    align-items:center;
    font-family:'oswald';
    font-size: 12pt;
}
.loginbox {
    position: absolute;
    width: 30%;
    height: 80%;
    left: 34%;
    top: 10vh;
    background-color: #FFFFFF;
    border-radius: 15%;
    justify-content: center;
}
.img {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0  ;
    z-index: -1;

    display: block;
    background-image: url('https://github.com/CleoLeal/TCC/blob/main/Login%20Page/imagens/backgroundLoginEmpresa.jpeg?raw=true');
    width: 1400px;
    height: 850px;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.loginbox img{
    padding: 2vh 4.8vw;
    position: relative;
    width: 280px;
    height: 120px;
    top: -10px;
    right: 1;
}
.text{
    position:relative;
}
.slogan.text{
    top:-45px;
}
.usuario.text{
    top:-55px;
    left:60px;
}
.icon{
    position: relative;
    width: 10%;
    height: 8%;
    left: 10px;
    background: #ffffff;
    border-radius: 200px;
    border: 1.5px solid #000000;
}
.user.icon{
    top: -77px;
}
.user.icon img{
    padding: 1.5vh 0.1vw;
    position: relative;
    width: 38px;
    height: 38px;
    top: -10px;
    right: 1;
}
.email Input {
    position: absolute; 
    width: 313px;
    height: 31px;
    left: 55px;
    top: 170px;
    border-radius: 10px;
}
.senha.text{
    top:-75px;
    left:60px;
}
.senha.icon{
    top: -135px;
}
.senha.icon img{
    padding: 1.8vh 0.2vw;
    position: relative;
    width: 35px;
    height: 35px;
    top: -10px;
    right: 1;
}
.senha Input{
    position: relative; 
    width: 313px;
    height: 31px;
    left: 55px;
    top: -95px;
    border-radius: 10px;
}
.esqueci.text{
    position:relative;
    top:-120px;
    left: 280px;
}
.entrar button{
    position: relative;
    width: 210px;
    height: 54px;
    left: 100px;
    top: -100px;
    cursor: pointer;
    background: #2DCF00;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 10px;
}
.entrar.text{
    position: center;
    font-size:25pt;

}
.criar button{
    width: 250px;
    height: 30px;
    left: 80px;
    top: 420px;
    position: absolute;
    bottom: 0%;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.criar.text{
    position: center;
    font-size: 15pt;
    color:#ffffff;    
}