@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*body html*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing:border-box;
    font-family:'oswald';
    font-size:1.3vw;
}

nav {
    background-color: #2DCF00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: 3px solid black;
    border-radius: 10px;
    flex-wrap: wrap;
}

.pesquisar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 600px;
    background-color: white;
    height: 40px;
    gap: 10px;
    border-radius: 30px;
    border: 2px solid black;
}
.imgPesq {
    width: 30px;
    margin-left: 5px;
}

.inputPesq {
    width: 100%;
    height: auto;
    font-size: 19px;
    background-color: transparent;
    border: none;
}
.container-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}
.imgPerson{
    width: 30px;
}

.link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.02rem;
    color: black;
    font-weight: bold;
}


.inputPesq:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    height: auto;
    padding: 15px 0px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
}

.text{
    font-family: "oswald";
    font-size: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.itens{
    width: 150px;
    height: 60px;
    color: black;
    border: 2px solid black;
    background-color: #2DCF00;
    display:flex;
    justify-content: center;
    align-items: center; 
    border-radius: 2vh;   
    transition: 0.4s;   
}

.itens :hover{
    color:white;
}

.linkitens {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; 
    color:black; 
    cursor: pointer;
    
}
.linkitens :visited{
    color: black;
}
.titulo{
    margin: 3rem 0px 0px 0px;
    font-size: 30px;
    text-align:left;
}
.titulo2{
    margin: 9rem 0px 0px 0px;
    font-size: 30px;
    text-align:left;
}

.containerarena{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 550px;
}

.divarena{
    width: 350px;
    height: 200px;
    border-radius: 2vh;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.4s;
}
.divarena :hover{
    transform: scale(1.1);
}

.arenaimg{
    width: 100%;
    border-radius: 2vh;
}

.containerTorneio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
}
.img {
    width: 100%;
    height: 200px;
    border-radius: 2vh;
    transition: 0.4s;
}

@media (max-width: 930px) {
    nav{
        height: auto;
        padding: 20px 0px;
        justify-content: center;
    }
    .pesquisar-container{
        width: 90%;
    }
    .containerarena{
        gap: 6rem;
        height: auto;
    }
}
@media (max-width: 734px) {
    .container{
        gap: 10px;
    }
}
@media (max-width: 590px) {
    .container{
        gap: 10px;
    }
    .containerarena{
        flex-direction: column;
        gap: 10rem;
    }
}
@media (max-width: 386px) {
    .containerarena{
        flex-direction: column;
        gap: 18rem;
    }
    .titulo2{
        margin: 16rem 0px 0px 16px;
    }
    .divarena{
        width: 90%;
        height: auto;
    }
}
@media (max-width: 342px) {
    .container-links{
        gap: 10px;
        font-size: 20px;
        margin-top: 10px;
    }
}